---
---

<style>
  body {
    font-size: 125%;
  }

  ol {
    list-style-type: none;
    list-style-position: inside;
    text-align: left;
    margin: 0 auto;
    padding: 0 0 0 90px;
  }

  .homepage {
    width: 500px;
  }
</style>

<article class="homepage">
  <ol>
  {% for event in site.data.events %}
    {% assign venue = site.data.venues | where:"name",event.venue | first %}
    {% assign talks = site.talks | where:"event",event.id %}

    <li class="stop">
      <time>{{event.date | date: "%B %-d, %Y"}}</time>
      <small>&nbsp;</small>
      <div>BrooklynJS #{{event.id}} at <a href="{{venue.url}}">{{venue.name}}</a></div>
    </li>
    <li class="ride"></li>
    {% if event.musical_guest %}
      <li class="end stop">
        <small>Music interludes prodvided by</small>
        <div>{{event.musical_guest}}</div>
      </li>
      <li class="ride"></li>
    {% endif %}
    {% for talk in talks %}
      <li class="speaker">
        <small>{{ talk.title }}</small>
        <div><a href="https://twitter.com/{{talk.speaker.twitter}}">{{ talk.speaker.name }}</a></div>
      </li>
      <li class="ride"></li>
    {% endfor %}
    <li class="stop">
      <small>This event made possible by</small>
      <div>{{event.sponsors | join:" / "}}</div>
    </li>
    <li class="walk"></li>
  {% endfor %}
  </ol>

  <p class="sign">
    PLANNED DISRUPTION<br>
    <script>longEventDate()</script><br><br>
    Please follow the directions below.
  </p>
  <ol>
    <li class="end stop">
      <time>now</time>
      <small>See the event board to</small>
      <div><a href="https://ti.to/BrooklynJS/brooklynjs-23">Get your ticket</a> and <a href="https://ti.to/BrooklynJS/brooklynjs-23">tell your friends</a></div>
    </li>
    <li class="ride"></li>
    <li class="stop">
      <time>
        <script>timeLeft()</script>
      </time>
      <small>Nothing to do but</small>
      <div>Wait patiently</div>
    </li>
    <li class="ride"></li>
    <li class="end stop">
      <time><script>shortEventDate()</script></time>
      <small>Make your way to our awesome venue,</small>
      <div><a href="//61local.com">61 Local</a> on <a href="//www.google.com/maps?q=61+Bergen+St+11201">Bergen St.</a></div>
    </li>
    <li class="ride"></li>
    <li class="end stop">
      <time></time>
      <small>Maybe come early and geek out for some</small>
      <div><a href="https://ti.to/BrooklynJS/brooklynjs-23">Boroughgramming</a></div>
    </li>
    <li class="walk">
      <small>Open the gray door in back, and</small>
      <div>Walk upstairs</div>
    </li>
    <li class="end stop">
      <time>7:00p</time>
      <small>Grab a seat in time for</small>
      <div>Introduction and kickoff</div>
    </li>
    <li class="ride"></li>
    <li class="speaker">
      <time><script>speakerTime()</script></time>
      <!--
        To add yourself to this slot, change the following two lines
        and add a short description paragraph in the pull request.
      -->
      <small>Listen to our first speaker, or better yet</small>
      <div><a href="https://github.com/brooklynjs/brooklynjs.github.io/edit/master/index.html">BE OUR FIRST SPEAKER</a></div>
    </li>
    <li class="ride"></li>
    <li class="speaker">
      <time><script>speakerTime()</script></time>
      <!--
        To add yourself to this slot, change the following two lines
        and add a short description paragraph in the pull request.
      -->
      <small>Listen to our second speaker, or better yet</small>
      <div><a href="https://github.com/brooklynjs/brooklynjs.github.io/edit/master/index.html">BE OUR SECOND SPEAKER</a></div>
    </li>
    <li class="ride"></li>
    <li class="speaker">
      <time><script>speakerTime()</script></time>
      <!--
        To add yourself to this slot, change the following two lines
        and add a short description paragraph in the pull request.
      -->
      <small>Listen to our third speaker, or better yet</small>
      <div><a href="https://github.com/brooklynjs/brooklynjs.github.io/edit/master/index.html">BE OUR THIRD SPEAKER</a></div>
    </li>
    <li class="ride"></li>
    <li class="speaker">
      <time><script>speakerTime()</script></time>
      <!--
        To add yourself to this slot, change the following two lines
        and add a short description paragraph in the pull request.
      -->
      <small>Listen to our fourth speaker, or better yet</small>
      <div><a href="https://github.com/brooklynjs/brooklynjs.github.io/edit/master/index.html">BE OUR FOURTH SPEAKER</a></div>
    </li>
    <li class="ride"></li>
    <li class="speaker">
      <time><script>speakerTime()</script></time>
      <!--
        To add yourself to this slot, change the following two lines
        and add a short description paragraph in the pull request.
      -->
      <small>Listen to our fifth speaker, or better yet</small>
      <div><a href="https://github.com/brooklynjs/brooklynjs.github.io/edit/master/index.html">BE OUR FIFTH SPEAKER</a></div>
    </li>
    <li class="ride"></li>
    <li class="stop">
      <small>This event made possible by</small>
      <div>digital ocean. <a href="/sponsorship">Be our next sponsor.</a></div>
    </li>
    <li class="ride"></li>
    <li class="stop">
      <time>8:00p</time>
      <small>Wind down with the</small>
      <div>Wrap-up</div>
    </li>
    <li class="walk">
      <small>Round-trip downstairs to the bar to get some</small>
      <div>Local <a href="//www.beermenus.com/places/2237-61-local">craft beer</a> / soda</div>
    </li>
    <li class="end stop">
      <time>12:00a</time>
      <small>Geek out with your boroughmates during</small>
      <div>The bevera.js social hour(s)</div>
    </li>
  </ol>
</article>
