body {
  font-size: 125%;
}

h3 {
  font-weight: 500;
  text-align: center;
}

iframe {
  height: 1000px;
  margin-top: 20px;
  width: 100%;
}

.event-staff {
  list-style: none;
  padding: 0;
  text-align: center;
}

.event-staff img {
  border-radius: 50px;
  display: block;
  height: 100px;
  margin-bottom: 16px;
  width: 100px;
}

.event-staff li {
  display: inline-block;
  padding: 10px;
  text-align: center;
}

.event-staff strong {
  font-weight: 500;
}
