body {
  font-size: 110%;
}

img {
  margin: 15px 0;
  width: 100%;
}

article {
  margin: 20px auto;
}

.page-title {
  padding: 20px 0 10px;
  text-align: center;
}

.sponsorship {
  min-width: 500px;
  max-width: 650px;
}

.sponsorship-pricing {
  padding-left: 0;
}

.sponsorship-pricing li {
  display: inline-block;
  text-align: center;
  width: 32%;
}

.sponsorship-pricing small {
  padding: 3px 0;
}

.sponsorship-pricing strong {
  font-size: 200%;
}
