ol {
  list-style-type: none;
  list-style-position: inside;
  margin: 0 auto;
  padding: 0 0 0 90px;
  text-align: left;
}

time {
  color: #999;
  font-size: 16px;
  left: -125px;
  position: absolute;
  text-align: right;
  top: 20px;
  width: 100px;
}

.ride {
  border-left: 8px solid #F7DF1E;
  height: 60px;
  margin: -17px 0 -25px -4px;
}

.sponsors div {
  margin-bottom: 5px;
}

.stop {
  padding-left: 30px;
  position: relative;
}

.stop:before {
  background-color: #222;
  border: 3px solid #FFF;
  border-radius: 50%;
  content: "";
  display: block;
  height: 12px;
  left: -9px;
  position: absolute;
  top: 22px;
  width: 12px;
}

.end.stop:before {
  background-color: #FFF;
}

.walk {
  border-left: 8px dotted #666;
  margin: -12px 0 -25px -4px;
  padding: 30px 0 40px 26px;
}